 <div class="modal-dialog">
 	<div class="modal-content">
 		<div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 			<h4 class="modal-title"><%= @player.fullname %></h4>
 		</div>
 		<%= render 'form' %>
 	</div>
 </div>


<!-- 
 <%= link_to 'Show', admin_player_path(@player) %> |
 <%= link_to 'Back', admin_players_path %>
 -->