<div class="countdown" data-date="<%= match.startDate.strftime('%Y-%m-%d-%H-%M') %>">
    <span class="days elem">
        <span class="val"></span>
        <span class="lbl">Dagen</span>
    </span>
    <span class="sep elem"><span class="val">:</span></span>
    <span class="hours elem">
        <span class="val"></span>
        <span class="lbl">Uur</span>
    </span>
    <span class="sep elem"><span class="val">:</span></span>
    <span class="minutes elem">
        <span class="val"></span>
        <span class="lbl">Minuten</span>
    </span>
    <span class="sep elem"><span class="val">:</span></span>
    <span class="seconds elem">
        <span class="val"></span>
        <span class="lbl">Seconden</span>
    </span>
</div>