<% content_for :browsertitle do %>
Goedvoorspellen.nl
<% end %>
<% content_for :title do %>
    
<% end %>
<% content_for :extracss do %>
  <style type="text/css">
    html { background-image: url("/images/cycle.jpg");}
  </style>
<% end %>
<div class="row home">
    <div class="col-md-12">
        
        <div style="min-height: 550px;">  
          <div style="text-align: center;">
            <h1 style="font-size: 40px; margin-top: 140px;">Zomer 2015...</h1>

          </div>
      </div>
    </div>
</div>
        