<% content_for :browsertitle do %>
Aanmelden
<% end %>
<% content_for :title do %>
  Aanmelden
<% end %>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="loginbox">
			<p>Meld je hier aan met een site naar keuze.</p>
			<ul>
				<li class="facebook"><a href="/auth/facebook">
                    <img src="/images/facebook-logo.png">
                    <span>Facebook</span>
                </a></li>
				<li class="googleplus"><a href="/auth/gplus">
                    <img src="/images/googleplus-logo.png">
                    <span>Google+</span></a></li>
                <li class="twitter"><a href="/auth/twitter">
                    <img src="/images/twitter-logo.png">
                    <span>Twitter</span></a></li>
			</ul>
		</div>
	</div>
</div>
