@charset "UTF-8";

@font-face {
  font-family: "goedvoorspellen";
  src:url("/fonts/icons/goedvoorspellen.eot");
  src:url("/fonts/icons/goedvoorspellen.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icons/goedvoorspellen.woff") format("woff"),
    url("/fonts/icons/goedvoorspellen.ttf") format("truetype"),
    url("/fonts/icons/goedvoorspellen.svg#goedvoorspellen") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icon() {
  font-family: "goedvoorspellen" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-football() {
  @include icon;
  content: "\e000";
}
.icon-usermenu:before {
  content: "\e001";
}
.icon-users:before {
  content: "\e002";
}
.icon-user:before {
  content: "\e003";
}
.icon-gear:before {
  content: "\e004";
}
@mixin icon-cross {
  @include icon;
  content: "\e005";
}
.icon-trophy:before {
  content: "\e006";
}
@mixin icon-enter {
  @include icon;
  content: "\e007";
}
@mixin icon-exit {
  @include icon;
  content: "\e008";
}
.icon-calendar:before {
  content: "\e009";
}
.icon-location:before {
  content: "\e00a";
}
.icon-check:before {
  content: "\e00b";
}
.icon-menu:before {
  content: "\e00c";
}
