@import 'variables';
@import '../bourbon/bourbon';

.stats {
    a.stats-block {
        &:hover {
            color: #333;
            border-bottom: 5px solid $green;
            margin-bottom: 10px;
        }
    }
    .stats-block {
        background: #fff;
        text-align: center;
        padding: 10px 25px;
        margin-bottom :15px;
        display: block;
        p {
            margin: 0;
            font-size: 15px;
        }
        .amount {
            font-family: $headfont;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            .number {
                font-size: 45px;
                line-height: 45px;
            }
            .lbl {
                font-size: 14px;
                margin-top: -4px;
            }  
        }
        .subject {
            font-weight: bold;
        }
        .doubleamount {
            position: relative;
            &:after {
                clear: both;
                display: table;
                content: "";
            }
            .amount {
                width: 50%;
                float: left;
            }
            &:before {
                content: "&";
                position: absolute;
                left: 50%;
                top: 3px;
                width: 28px;
                margin-left: -14px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 26px;

            }
        }
    }
    .playerslist {
        th {
            padding: 8px 10px 6px;
            border-bottom: 1px solid $bordercolor;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $headfont;
            font-size: 16px;
            .flag {
                margin-top: -3px;
            }
        }
        td {
            padding-left: 38px;
        }
    }
    .clubrankingtable {
        tr.active {
            td.name {
                font-weight: bold;
            }
        }
    }
}